PORT=8080

# Postgresql
DATABASE_URL="postgresql://cook:unity@db:5432/challengedb"

# Redis
REDIS_URL="redis://redis:6379"

# Geolocation service driver availables: "ip-api", "mock"
GEOLOCATION_SERVICE_DRIVER="mock"

# Currency service driver availables: "fixer.io", "mock"
CURRENCY_SERVICE_DRIVER="mock"

# Fixer plan availables: "free", "paid"
FIXER_PLAN="free"
FIXER_BASE="USD"
FIXER_API_URL="http://data.fixer.io/api/latest"
FIXER_API_KEY=
